<div class="navbar-fixed">
    <nav class="nav-default">
        <div class="nav-wrapper grey-dark darken-2">
            <a href="/">
                <img class="brand-logo" style="height: 63px;
                    width: 300px ;" src="/img/logo_vectorized.png">
            </a>
            <ul id="navbar-items" class="right hide-on-med-and-down">
                <li <% if(active=="Produtos" ){ %>class="active" <%}%> >
                    <a href="/">
                        Produtos <i class="material-icons left">style</i>
                    </a>
                </li>
                <li <% if(active=="Loja" ){ %> class="active" <%}%> >
                    <a onclick=getStoreLocation()>
                        Loja <i class="material-icons left">store</i>
                    </a>
                </li>
                <li <% if(active=="Email" ){ %>class="active" <%}%> >
                    <a onclick=sendEmail()>
                        Contato <i class="material-icons left">email</i>
                    </a>
                </li>
                <li <% if(active=="Carrinho" ){ %>class="active" <%}%> >
                    <! -- href="/compra/cart._id" -->
                    <a href="/">
                        Carrinho <i class="material-icons left">shopping_cart</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<script>
    function getStoreLocation() {
        window.open('https://mail.google.com/mail/u/0/?fs=1&to=punisz.designs@gmail.com&tf=cm', '_blank')
    }
    function sendEmail() {
        window.open('https://mail.google.com/mail/u/0/?fs=1&to=punisz.designs@gmail.com&tf=cm', '_blank')
    }
</script>