<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Finalizada!</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/compra.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"> </script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col l12 s14">

                <div class="card-content" class="card-border">
                    <p class="card-title">Compra realizada com sucesso!</p>
                    <p class="card-border">O item <%= title %> foi adicionado a sua conta, continue explorando nosso produtos.</p>
                    <a class="waves-effect waves-light btn" href="/" class="margin" class="anima">Voltar a
                        pagina
                        inicial.</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>